btn-wrapper.ng-star-inserted {
display:none !important
}

.get-ticket-button-wrapper.ng-tns-c224-4.ng-star-inserted {
    visibility:hidden !important
}


span.mat-button-wrapper {
display:none !important
}
